<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <%= link_to "New Plant", new_user_plant_path(user_id: current_user.id), class: 'btn btn-primary' %>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center">My Plants</h1>
            <% @plants.each do |plant| %>
                <div class="well row <%= cycle('white-bg', '') %>">
                    <%= link_to user_plant_path(id: plant.id) do %>
                        <h2><%= plant.name %></h2>
                    <% end %>
                    <%= link_to "Delete", user_plant_path(user_id: current_user.id, id: plant.id), method: :delete, class:"btn btn-default" %>
                </div>
            <% end %>
        </div>
    </div>
</div>