<div class="contianer">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class='text-center'><%= @plant.name %></h1>
            <h3>Planted On: <%= @plant.plant_date.to_s %></h3>
            <h3>Last Turn Date: <%= @plant.last_turn.to_s %></h3>
            <h3>Growth stage: <%= @plant.growth_stage.to_s %></h3>
            <h3>Water level: <%= @plant.water_level.to_s %></h3>
            <h3>User ID: <%= @plant.user_id.to_s %></h3>
            <h3>Light ID: <%= @plant.light_id.to_s %></h3>
            <p><%= @plant.description %></p>
        </div>
    </div>
</div>